@page "/history"
@using SparkleBot.Interfaces
@inject ISparkleService SparkleService

<PageTitle>History</PageTitle>

<h1>Sparkle's Post History</h1>

@if (SparkleService.History == null || !SparkleService.History.Any())
{
    <p>No history found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Account</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in SparkleService.History.OrderBy(x => x.TimeStamp).Distinct())
            {
                <tr>
                    <td>@post.TimeStamp</td>
                    <td>@post.Account</td>
                    <td>@post.Content</td>
                </tr>
            }
        </tbody>
    </table>
}
